.container{
    width: 700px;
    height: 400px;
    border: 1px solid #444;
    margin: 30px auto;
}
.box{
    height: 150px;
    width: 150px;
    background-color: brown;
    margin: 20px;
    position: relative;
    -webkit-animation-name: animation-box;
            animation-name: animation-box;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

/* @keyframes animation-box{
    form{
        background-color: green;
        height: 0px;
        width: 0px;
    }to{
        background-color: red;
        height: 200px;
        width: 200px;
    }
} */



@-webkit-keyframes animation-box{
    0%{
        background-color: red;
        top: 0;
        left: 0;
    }25%{
        background-color: green;
        top: 0px;
        left: 600px;
    }50%{
        background-color: yellow;
        top: 200px;
        left: 600px;
    }75%{
        background-color: orange;
        top: 200px;
        left: 0px;
    }100%{
        background-color: rgb(0, 17, 255);
        top: 0;
        left: 0;
    }
}



@keyframes animation-box{
    0%{
        background-color: red;
        top: 0;
        left: 0;
    }25%{
        background-color: green;
        top: 0px;
        left: 500px;
    }50%{
        background-color: yellow;
        top: 200px;
        left: 500px;
    }75%{
        background-color: orange;
        top: 200px;
        left: 0px;
    }100%{
        background-color: rgb(0, 17, 255);
        top: 0;
        left: 0;
    }
}